@font-face {
    font-family: 'Nanum';
    src: url(../../NanumBrushScript-Regular.ttf);
}
.construction-flex-container {
    display: flex;
    width: 50%;
    margin: auto;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
}

.goblinish {
    font-family: Nanum;
    margin: auto;
    text-align: center;
}
