---

---

<div class="construction-flex-container">
	<div>
		<h1 class="goblinish">Gurk dimo gollintoss, Ig roggle Sok!</h1>
		<p class="goblinish">Translation: Hold your war pigs, I'm workin' on it</p>
	</div>
	<div>
		<img src="/GWAG_logo.png" class="goblinish">
	</div>
</div>