@font-face {
    font-family: 'Nanum';
    src: url(/NanumBrushScript-Regular.ttf);
}
.construction-flex-container {
    display: flex;
    width: 50%;
    margin: auto;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
}

/* Goblinish */

.goblinish {
    font-family: Nanum;
    margin: auto;
    text-align: center;
}

h1.goblinish {
    font-size: 7vw;
}

p.goblinish {
    font-size: 3vw;
}

img.goblinish {
    width: 80%;
    margin: auto;
    display: block;
}

/* */

.team-icon {
    margin: auto;
    padding: 15%;
}

.team-card-inner {
    margin: auto;
    align-items: center;
    width: 90%;
    max-width: 300px;
    min-height: 200px;

    display: block;
    text-decoration: none;
}

a.team-card-inner:visited, a.team-card-inner:link, a.team-card-inner:hover, a.team-card-inner:active{
    color: black;
}

.team-icon > img.goblinish {
    border: 4px solid black;
    border-radius: 50%;
}

.department {
    display: flex;
    flex-wrap: wrap;
}

.department > * {
    flex: 1 1 300px;
}

/* Modal Box */
.modalbox {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(192, 192, 192, 0.7);
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0; 
}

.modalbox:target {
    visibility: visible;
    opacity: 1; 
}

/* Modal Content */
.modal-content {
    position: relative;
    background: #fff;
    width: 600px;
    max-width: 80%;
    padding: 2em 1em;
    border-radius: 1em;
}

.modal-content > a.modal-close {
    font-size: 21px;
    font-weight: 600;
    text-decoration: none;
}

a.modal-close:visited, a.modal-close:link, a.modal-close:hover, a.modal-close:active{
    color: black;
}

.modal-close {
    position: absolute;
    top: 5%;
    right: 5%;
}

.modal-content-inner {
    display: flex;
}

.modal-content-inner > * {
    flex-basis: 100%;
}

.modal-content-inner > img {
    width: 40%;
    margin: auto;
    display: block;
}

/* Social */

.social {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-decoration: none;
}

.social-inner {
    display: flex;
    justify-content: center;
    gap: 1em;
    text-decoration: none;
}

.social-inner {
    display: flex;
    justify-content: center;
    gap: 1em;
    text-decoration: none;
}

.social-inner > img {
    margin-top: auto;
    margin-bottom: auto;
    max-height: 2rem;
} 

a.social:visited, a.social:link, a.social:hover, a.social:active{
    color: black;
}

/* .social > h1 {
    margin-left: 0%;
} */